:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding: 0% !important;

  width: 100% !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Articulos index */
.css-1gwv7ie-MuiCardMedia-root {
  padding-top: 0% !important;
}

.css-480o17-MuiGrid-root {
  width: 100% !important;
  margin: 0 !important;
}

.css-480o17-MuiGrid-root>.MuiGrid-item {
  padding: 5% !important;
}

.css-jcfe1v-MuiContainer-root {
  padding: 0% !important;
}

/* Articulos index */


/* Pagination */
.css-1oj2twp-MuiPagination-root {
  width: 100%;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center !important;
}

.css-1mcnwpj-MuiList-root {
  margin-top: 10% !important;
}

/* Pagination */


/* FORM MODAL */
.ForGroupModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ForGroupModal input {
  padding: 8px;
  border: 1px solid #CCCEEE;
  margin: 1% 0;
}
/* FORM MODAL */